*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Onest",sans-serif;
}

body{
    background:linear-gradient(0deg,#33a4d8,#37e0be);
    color:#2f2f2f;
    min-height:100vh;
}

.action-btn{
    padding:10px;
    margin:5px;
    font-size:16px;
    background:#16a34a;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

#top-bar{
    position:sticky;
    top:0;
    width:100%;
    height:75px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 60px;

    background:rgba(32, 149, 228, 0.685);
    backdrop-filter:blur(5px);

    box-shadow:0 10px 35px rgba(0,0,0,.08);

    z-index:999;
    transition:.3s;
}

#top-bar.shrunk {
    top: 10px;
    border-radius: 30px;
    height:60px;
    transform: scale(0.95);
    margin-top: 5px;
    background:rgba(34, 135, 202, 0.521);
}


#top-bar-functions{
    display:flex;
    gap:35px;
}

#top-bar-functions a{
    text-decoration:none;
    color:#ffffff;
    font-weight:600;
    transition:.3s;
}

#top-bar-functions a:hover{
    color:#374255;
}

#user{
    display:flex;
    align-items:center;
    gap:12px;
    cursor:pointer;
}

#user img{
    width:50px;
    height:50px;
    border: 2px solid #ffffff;
    border-radius:50%;
}

#username{
    font-weight:600;
}

/* HEADER */

#page-header{

    width:90%;

    margin:40px auto;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

#page-title h1{

    font-size:42px;

    color:#222;
}

#page-title p{

    color:#666;

    margin-top:5px;
}

/* SUMMARY */

#order-summary{

    display:flex;

    gap:20px;
}

.summary-card{

    background:white;

    width:150px;

    border-radius:18px;

    padding:20px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    transition:.3s;
}

.summary-card:hover{

    transform:translateY(-5px);
}

.summary-card h2{

    color:#16a34a;

    font-size:32px;
}

.summary-card span{

    color:#666;
}

/* SEARCH */

#table-top{

    width:90%;

    margin:auto;
}

#search{

    width:100%;

    padding:15px 20px;

    border:none;

    border-radius:15px;

    font-size:16px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    outline:none;
}

/* FILTERS */

#navbar{

    width:90%;

    margin:30px auto;

    display:flex;

    gap:15px;
}

#navbar a{

    padding:10px 22px;

    background:white;

    border-radius:30px;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 5px 15px rgba(0,0,0,.05);
}

#navbar a:hover{

    background:#16a34a;

    color:white;
}

#navbar a.active{

    background:#16a34a;

    color:white;
}

/* TABLE */


#order_list{

    width:90%;

    margin:auto;

    background:white;

    border-radius:18px;

    overflow:hidden;

    box-shadow:0 10px 35px rgba(0,0,0,.08);
}

table{

    width:100%;
    border-collapse:collapse;
}


th{

    background:#f5f7fa;

    text-align:left;

    padding:18px;

    font-size:15px;
}

td{

    padding:18px;

    border-bottom:1px solid #ececec;
}

tbody tr{

    transition:.2s;
}

tbody tr:nth-child(even){

    background:#fafafa;
}

tbody tr:hover{

    background:#eefaf4;

    cursor:pointer;
}

#ship_button {
    padding: 8px 16px;
    border:none;
    border-radius: 10px;
    background-color: #16a34a;
    color: white;
    cursor: pointer;

}

/* PRODUCT */

.product{

    display:flex;

    align-items:center;

    gap:15px;
}

.product img{

    width:55px;

    height:55px;

    border-radius:12px;
}

.product div{

    display:flex;

    flex-direction:column;
}

.product small{

    color:#888;
}

/* STATUS */

.status{

    padding:6px 14px;

    border-radius:30px;

    font-size:13px;

    font-weight:bold;
}

.shipping{

    background:#DBEAFE;

    color:#2563EB;
}

.received{

    background:#DCFCE7;

    color:#16A34A;
}

.returned{

    background:#FEE2E2;

    color:#DC2626;
}

.toship{

    background:#FEF3C7;

    color:#D97706;
}

/* BUTTON */

.view{

    background:#16a34a;

    color:white;

    border:none;

    padding:8px 16px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;
}

.view:hover{

    background:#15803d;
}