html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(190, 18, 44);
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    padding-top: 60px;
    height: 100%;
    margin: 0;
}

#user-toggle {
    width: 150px;
    height: 200px;
    display: none;
    background-color: white;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    margin-top: 240px;
}

#user-toggle ul {
    width: 150px; /* Make the container wide enough to fit the li */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

#user-toggle ul li {
    width: 120px;
    height: 40px;
    margin-right: 0;
    margin-top: 10px;
    text-align: center;
    background-color: grey;
}

#top-bar {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height:60px;
    top: 0;
    z-index: 1000;
    background: #440B14;
    background: linear-gradient(to right, rgb(0, 0, 0) 1%, rgb(143, 19, 37) 50%);
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.637);
}

#top-bar.shrunk {
    
    border-radius: 30px;
    transform: scale(0.9);
    margin-top: 5px;
}

#top-bar-functions {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 1;
}

#top-bar-functions a {
    padding: 15px;
    text-decoration: none;
    color: white;
}

#top-bar-functions a:hover {
    background-color: rgba(211, 91, 91, 0.555);
    border-radius: 10px;
}


#user {
    width: 150px;
    height: 40px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: white;
    border-radius: 30px;
    gap: 10px;
    background-color: rgb(110, 21, 34);
    cursor: pointer;
}

#user img {
    width: 30px;
}

#username {
    font-size: clamp(1.5rem, 1vw, 2rem);
}

/*CONTAINERS*/

#container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navbar {
    width: 95%;
    background-color: aliceblue;
    border-radius:30px;
    margin-top: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#navbar a {
    width: 100px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    transition: all ease-in 0.2s;
    cursor: pointer;
}
#navbar a:hover {
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
}

#order_list {
    margin-top: 10px;
    width: 90%;
    height: 500px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.order_rows {
    border-radius: 10px;
    transition: all ease-out 0.2s;
    background-color: blue;
    cursor: pointer;
}
#lists {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#lists .col-img {
    width: 70px;
}

#lists th, #lists td {
    width: auto;
    text-align: center;
    padding: 10px;
    background-color: white;
    border-top: 1px solid black; 
    transition: all ease-out 0.2s;
}

.order_rows:hover {
    transform: scale(1.015);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.637);
}

#lists td img {
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    flex-shrink: 0; 
}
#lists td p {
    margin-left: 5px;
    margin-right: 50px;
    flex: 1;
}

#navbar a.active {
    background-color: rgb(196, 196, 196);
    border-radius: 10px;
}